@import 'tailwindcss';

@theme {
    --color-primary: #003290;
    --color-secondary: #0040B8;
    --color-third: #EBF2FF;
    --color-contrast: #FFFFFF;
}

@keyframes shimmer-diagonal {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}


.animate-shimmer-diagonal {
  animation: shimmer-diagonal 1.5s infinite;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}
