@import 'tailwindcss';

@theme {
    --color-primary: #003290;
    --color-secondary: #0040B8;
    --color-third: #EBF2FF;
    --color-contrast: #FFFFFF;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}
