@import 'tailwindcss';

@theme {
    --color-primary: #D9251B;
    --color-secondary: #666666;
    --color-third: #625D5C;
    --color-contrast: #FFF;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}
